<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Discover Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="default">
    <ion-segment-button value="segment">
      <ion-label>Discover Recipes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="default">
      <ion-label>My Recipes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar placeholder="Filter Recipes" inputmode="text" type="text"  [debounce]="250" showCancelButton="always" (ionChange)="searchName($event)" enterkeyhint='go'></ion-searchbar>
  <ion-label>Search by </ion-label>
  <ion-radio-group value="name" mode="md">
    <ion-radio value="name" (ionFocus)="radioIngredientSelect()">Ingredient</ion-radio>
    <ion-radio value="ingredient" (ionFocus)="radioNameSelected()">Name</ion-radio>
  </ion-radio-group>

  <ion-list>
  <ion-card *ngFor="let recipe of showRecipes">
    <ion-card-header>
      <ion-card-title>{{recipe.name}}</ion-card-title>
      <ion-card-subtitle>{{recipe.category}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{recipe.instructions}}
    </ion-card-content>
  </ion-card>
</ion-list> 
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['view-recipe']" (click)="openCreateRecipe()">
    +
  </ion-fab-button>
</ion-fab>
<ion-button (click)="openLogin()">Login</ion-button>
</ion-content>
